<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 全局配置属性-->

    <settings>
        <!-- 使用jdbc的getuseGeneratedKeys 获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用列别名替换别名 默认：true
            select name as title from table
        -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 开启驼峰命名转换：Table（create_Time）——> Entity(createTime)-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 别名方式2，自动扫描，将JAVA类的类名作为类的类别名 -->
    <typeAliases>
        <package name="com.system.entity"/>
    </typeAliases>

</configuration>